.emailRow {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999;
}
.wrapEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mailRowMobile {
    width: 100vw;
}
.senderInfo h5 {
    font-size: 17px;
}
.senderInfo h6 {
    font-size: 14px;
}
.senderInfo p {
    font-size: 12px;
}
.emailRow:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: inset 1px 0 0 #dadce0,inset -1px 0 0 #dadce0,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
    z-index: 2;
}

.emailRow-options {
    display: flex;
}

.emailRow-message {
    display: flex; 
    flex:0.8;
    align-items: center;
    font-size: 13px !important;
}

.emailRow-message > h4 {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px !important;
}

.emailRow-title{
    font-size: 13px;
    flex: 0.3;
}

.emailRow-time {
    padding-right: 15px;
    font-size: 10px;
    font-weight: bold;
}

.emailRow-description {
    font-weight: 400;
    color:grey;
}



@media only screen and (max-width: 700px) {   
    .emailRow-options > .MuiIconButton-root{
        padding-left: 2px;
        padding-right: 2px;
    }

    .emailRow-time {
        display: none;
    }
}