.mail {
    flex:1;
    background-color: white;
    overflow: scroll;
    overflow-x: hidden !important;
    height: auto;

}
.mailInfo {
    text-align: left !important;
}
.mail-tools {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 10%;
}

.mail-toolsLeft {
    display: flex;
}
.mail-message  {
     /*display: flex;*/
     align-items: center;
     justify-content: center;
     align-content: center;
     height: auto;
}
.mail-body {
    display: flex;
    flex-direction: column;
    background-color: white;
    /*box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.25);*/
    padding-left: 3%;
    padding-right: 3%;
}
body {
  background-color: white;
}
.mail-bodyHeader {
    display: flex;
    border-bottom: 1px solid whitesmoke;
    padding: 20px;
    position: relative;
}

.mail-important {
    color: #e8ab02 !important;
}

.mail-bodyHeader > h2 {
    font-weight: 400;
    margin-right: 20px;
}

.mail-bodyHeader > p {
    margin-left: 20px;
    width: 8rem;
}

.mail-time {
    position: absolute;
    top: 24px;
    right: 0;
    font-size: 12px;
    color: grey;
}

.mail-from {
    width: 20rem !important;
}

.mail-message > p {
    margin-right: 20px;
    overflow-wrap: break-word;
    word-break: break-word;

}
.mail-subject{
    display: flex;
    width: 35rem;
     word-break: break-word;
}

@media only screen and (max-width: 700px) {   
    .mail-bodyHeader{
    display: grid !important;
    margin-left: 0;
    }

    .mail-time {
        position: unset;
        margin-top: 5px;
    }
    
    .mail-bodyHeader > p{
        margin-left: 0;
    }
    .mail-message > p {
        margin-left: 10px;
    }
}