.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.header-left {
    display: flex;
    align-items: center;
}
.logoutButton {
     align-items: left;
}
.header-left > img {
    object-fit: contain;
    height: 30px;
    margin-left: 5px;
}

.header-middle {
    display: flex;
    align-items: center;
    flex: 0.7;
    background-color: #f1f3f4;
    padding: 2px 15px;
    margin: 10px;
    border-radius: 10px;
}

.header-middle > .MuiSvgIcon-root {
    color: gray;
}

.header-middle > input {
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: medium;
    background-color: transparent;
}

.header-right{
    display: flex;
    padding-right: 20px;
    align-items: center;
}

.headerMobile {
 width: 100vw;
}
