.emailList {
   flex: 1;
   overflow: scroll;
   overflow-x: hidden !important;
   /*height: 100vh;*/
   padding-left: 3%;
   padding-right: 3%;
}

.emailList-settings {
   position: sticky;
   top: 0;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid whitesmoke;
   background-color: white;
   z-index: 999;
   padding-right: 10px;
}

.emailList-sections {
   position: sticky;
   top: 0;
   display: flex;
   border-bottom: 1px solid whitesmoke;
   background-color: white;
   z-index: 999;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.emalList::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.emailList {
   scrollbar-width: none; /* firefox */
   -ms-overflow-style: none; /* IE and Edge */
}
h3,h4,p {
   margin-bottom: 0 !important;
}
@media only screen and (max-width: 500px) {
   .emailList-settingsLeft > .MuiIconButton-root {
      padding-left: 3px;
      padding-right: 3px;
   }

   .emailList-settingsRight > .MuiIconButton-root {
      padding-left: 3px;
      padding-right: 3px;
   }

   .emailList-settingsLeft {
      margin-left: 10px;
   }

   .emailList-settingsRight {
      margin-right: 10px;
   }
}
